/* Poppins Regular */
@font-face {
    font-family: "poppins";
    src:url("asset/font/Poppins-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Poppins Bold */
@font-face {
    font-family: "poppins";
    src:url("asset/font/Poppins-Bold.ttf") format('truetype');
    font-weight: bold;
    font-style: normal;
}

* {
    font-family: "poppins", serif;
    padding: 0;
    margin: 0;
}

body {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

/* header (navigation and menu) */
header {
    height: 2rem;
    position: sticky;
    top:0;
    margin-top:0.5rem;
    margin-bottom: 1rem;
    text-align: right;
}

/* footer */
footer {
    height: 2rem;
    position: sticky;
    bottom: 0;
}

nav {
    display: inline-block;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin: 0 0.75em;
}

nav ul li a {
    text-decoration: none;
}

#theme-selector {
    outline: none;
    padding: 0.3em;
    border-radius: 6px;
}

/* content */
section {
    scroll-margin-top: 3.5rem;
    width: 100%;
    height: calc(100vh - 3.5rem);
}

/* Home */
#home {
    display: flex;
    align-items: center;
    justify-content: center;
}

#wrapper {
    display: flex;
    height: 4em;
    overflow: hidden;
}

#home h1 {
    font-size: xxx-large;
}

div#profesi {
    display: inline-block;
    overflow: hidden;
    align-self: flex-start;
    margin-left: 0.6em;
}

#profesi h1 {
    display: block;
    animation: gulir_profesi 10s infinite;
    color: red;

}

@keyframes gulir_profesi {
    15% {
        transform: translateY(-1.55em);
    }

    25% {
        transform: translateY(-3.05em);
    }

    40% {
        transform: translateY(-4.55em);
    }

    55% {
        transform: translateY(-6.05em);
    }

    70% {
        transform: translateY(-7.55em);
    }

    85% {
        transform: translateY(-9.05em);
    }

    100% {
        transform: translateY(-9.05em);
    }
}

/* About */
#about {

}

#about .wrapper {
    display: flex;
}

#about h2 {
    margin: 1em 0;
}

#about p {
    margin: 0 0 1em;
}

#about img {
    width: 320px;
    border-radius: 10px;
    margin-left: 1em;
}


/* Project or Portfolio */
article {
    display: flex;
}

article figure img {
    width: 320px;
    border: 1px solid;
}

/* utilities */
.hidden {
    display: none !important;
}

.text-center {
    text-align: center;
}