/* Poppins Regular */
@font-face {
    font-family: "poppins";
    src:url("asset/font/Poppins-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Poppins Bold */
@font-face {
    font-family: "poppins";
    src:url("asset/font/Poppins-Bold.ttf") format('truetype');
    font-weight: bold;
    font-style: normal;
}

* {
    font-family: "poppins", serif;
    padding: 0;
    margin: 0;
}

body {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

/* header (navigation and menu) */
header {
    height: 2rem;
    position: sticky;
    top:0;
    margin-top:0.5rem;
    margin-bottom: 1rem;
    text-align: right;
}

/* footer */
footer {
    height: 2rem;
    position: sticky;
    bottom: 0;
}

nav {
    display: inline-block;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin: 0 0.75em;
}

nav ul li a {
    text-decoration: none;
}

#theme-selector {
    outline: none;
    padding: 0.3em;
    border-radius: 6px;
}

/* defaults */
html {
    scroll-padding-top: 2rem;
}

section {
    scroll-margin-top: 3.5rem;
    width: 100%;
    height: calc(100vh - 3.5rem);
}

section h2 {
    margin: 1em 0;
}

/* Home */
#home {
    display: flex;
    align-items: center;
    justify-content: center;
}

#wrapper {
    display: flex;
    height: 4em;
    overflow: hidden;
}

#home h1 {
    font-size: xxx-large;
}

div#profesi {
    display: inline-block;
    overflow: hidden;
    align-self: flex-start;
    margin-left: 0.6em;
}

#profesi h1 {
    display: block;
    animation: gulir_profesi 10s infinite;
    color: red;
}

@keyframes gulir_profesi {
    15% {
        transform: translateY(-1.55em);
    }

    25% {
        transform: translateY(-3.05em);
    }

    40% {
        transform: translateY(-4.55em);
    }

    55% {
        transform: translateY(-6.05em);
    }

    70% {
        transform: translateY(-7.55em);
    }

    85% {
        transform: translateY(-9.05em);
    }

    100% {
        transform: translateY(-9.05em);
    }
}

/* About */
#about .wrapper {
    display: flex;
}

#about p {
    margin: 0 0 1em;
}

#about img {
    width: 320px;
    border-radius: 10px;
    margin-left: 1em;
}

/* Skill */
#skills {
    display: flex;
    flex-direction: column;
}

#skills article {
    display: block;
    width: 50%;
    height: 5rem;
}

#skills article .progress-bar {
    margin-top: 1em;
    border: 10px solid;
    border-radius: 20px;
}

#skills article .level-4 {
    width: 80%;
}


    /* Project or Portfolio */
#project .wrapper {
    display: flex;
}

#project .wrapper a {
    text-decoration: none;
    color: inherit;
}

#project article {
    display: flex;
    flex-direction: column;
    border: 1px solid;
    margin: 1em;
    border-radius: 10px;
    height: 420px;
}

#project article .link {
    color: darkgreen;
    display: flex;
    align-items: center;
    margin: 0.5em 0;
}

#project article .link svg{
    height: 1em;
    width: 1em;
    margin-left: 0.2em;
}

#project article div {
    padding: 1em;
}

#project article figure {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: none;
}

#project article figure img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* Contact */
#contact .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

#contact .wrapper div, #contact .wrapper form {
    flex-basis: 0;
    flex-grow: 1;
}

fieldset {
    border: none;
    width: 100%;
    margin: 1em 0;
}

#contact form label {
    display: block;
    margin-bottom: 0.3em;
}

#contact form input, #contact form textarea, #contact form button {
    width: 100%;
    line-height: 3em;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
}

/* utilities */
.hidden {
    display: none !important;
}

.text-center {
    text-align: center;
}

/* dark mode */
.dark * {
    background-color: #2E3E5C;
    color: white;
}

.dark article .link {
    color: lightgreen;
}

.dark #contact form button {
    background-color: #706FE5;
}

/* loader or spinner */
div.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

#spinner {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 10px solid #ddd;
    border-top-color: orange;
    animation: loading 1s linear infinite;
}

@keyframes loading {
    to {
        transform: rotate(360deg);
    }
}